{% extends 'base.html' %}

{% block titulo %}
    Detalle de producto
{% endblock %}

{% block contenido %}
<h1>Acá va el contenido del detalle del producto</h1>

<div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{object.name}}</h5>
            <p class="card-text">{{object.description}}.</p>
            <a href="#" class="btn btn-primary">Editar</a>
            <a href="/products/delete-product/{{object.id}}/" class="btn btn-danger">Eliminar</a>
        </div>

</div>

{% endblock %}

</body>

</html>